@font-face {
    font-family: 'SF Pro';
    src: url('fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600; /* Assuming 600 is for Semibold */
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro', sans-serif;
}

body{
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 38px;
    color: #ed735e;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 24px;
    color: #838383;
    text-decoration: none;
    font-weight: 500;
    margin-left: 33px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #ed735e;
    font-weight: 600;
}

.home{
    height: 100vh;
    
    display: flex;
    align-items: center;
    padding-left: 95px;
}
.home-content{
    max-width: 800px;
}
   
.home-content h1{
    color: #ed735e;
    font-size: 70px;
    font-weight: 500;
    text-align: right;
    font-family: 'SF Pro', sans-serif;
}

.home-content p{
    color: #838383;
    font-size: 25px;
    margin: 8px 0 40px;
    text-align: justify;
    font-weight: 600;
    text-align: right;
}
.home-content .btn-box{
    position: absolute;
    left: 530px;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #ed735e;
    border: 1px solid #ed735e;
    border-radius: 8px;
    border-color: #ed735e;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:nth-child(1){
    background-color: transparent;
    color: #838383;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: o;
    height: 100%;
    background-color: #FF6F61;
    z-index: -1;
    transition: .3s;
}
.btn-box a:hover::before{
    width: 100%;
}
.side-image{
    width: 1650px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    right: 3px;
    top: 40px;
}

.home-sci{
    position: absolute;
    bottom: 130px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    left: 670px;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 3.5px solid #FF6F61;
    border-radius: 50%;
    font-size: 20px;
    color: #FF6F61;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #ededed;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FF6F61;
    z-index: -1;
    transition: .3s;
}
.home-sci a:hover::before{
    width: 100%;
    
}